@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Inter:wght@200;400;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Include padding and border in element's total width/height */
}

body {
  font-family: "Inter", sans-serif;
  background: #111111;
}
.modal {
  padding: 0.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #343333;
  border-radius: 0.25rem;
  z-index: 10;
  height: 500px;
  width: 50%;
  border: none;
  border-radius: 20px;
  color: #ffffff;
}
.modal .text {
  margin: 2rem auto;
  width: 80%;
}
.closeModal {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 2%;
  top: 3%;
}

.goButton {
  font-size: 1.2rem;
  background: #98f1c1;
  border: none;
  width: 191px;
  height: 56px;
  cursor: pointer;
  border-radius: 15px;
}
.goButton:hover {
  filter: brightness(0.8);
  transition: all 0.3s ease;
}
.modal .goButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}
.sectionWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: "input output output output output assistance";
  position: relative;
}

.inputSection {
  position: sticky;
  top: 1%;
  grid-area: input;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 85%;
  background: #343333;
  align-items: center;
  border-radius: 20px;
  margin: 0px auto;
  padding: 20px; /* Add padding to align content */
}

.output {
  width: 8.5in;
  height: 11in;
  background: #ffffff;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  background: #ffffff;
  margin: 10px auto;
  border: 1px solid #000000;
  overflow-y: auto;
}

.outputSection {
  grid-area: output;
  grid-column: span 4;
  transition: transform 0.8s;
}

.flip {
  transform: rotate(90deg);
}

.orientation,
.component {
  width: 98%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  background: #1a1919;
  stroke: #98f1c1;
  margin: 10px auto;
  padding: 0 20px;
  cursor: pointer;
  border: none;
  border-radius: 16px;
}

.orientation p,
.component p {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-weight: 200;
}

.orientation:hover svg {
  transform: rotate(90deg);
  transition: all 0.3s;
}

.orientation:hover {
  transition: all 0.8s;
  background: #1d1d1d;
}

.assistanceSection {
  position: sticky;
  top: 1%;
  grid-area: assistance;
  width: 300px;
  height: 85%;
  border: 1px solid #000000;
}

.componentsHeader {
  display: flex;
  align-self: start;
  color: #98f1c1;
  font-size: 2rem;
  font-weight: 400;
  font-family: "Comfortaa", sans-serif;
  margin: 0 15px;
}

.components {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}
